matplotlib
openai>=1.0.0
python-dotenv>=1.0.0
attrs
decorator
scipy
pynguin==0.40.0
pytest
numpy
pandas
pyarrow
fastparquet
torch
fire
aiomultiprocess>=0.9.0
anthropic
together
wrapt_timeout_decorator
